@model ComprobacionModels
@{
}
    <h1>Comprobar Pagos</h1>
    <br />
    <br />
    <br />
    <form method="post">
        @if (Model.Pagos.Any())
        {


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre Tutor</th>
                        <th scope="col">Alumno</th>
                        <th scope="col">Mes pagado</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Verificar Documentos</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Pagos)
                    {

                        <tr>
                            <td scope="row">@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.NombreT)</td>
                            <td>@Html.DisplayFor(m => item.Alumno)</td>
                            <th>@Html.DisplayFor(m => item.Mespagado)</th>
                            <th>@Html.DisplayFor(m => item.Fecha)</th>

                            <td>
                                <a asp-controller="Pagos" asp-action="Aprobacion" asp-route-id="@item.Id" class="btn btn-success">Aprobar</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <div class="mx-auto text-center">
                <span class="text-danger">No se encontraron ningun registro</span>
            </div>
        }
    </form>
