
@model RegistroTModelcs
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/StyleSheet.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
        </div>

    </div>
</div>
<div class="container text-center">
    <!-- Button trigger modal -->
    <div class="row">
        <div class="col-md-4">
            <br />
        </div>

        <div class="col-md-4">
            <form id="signup" class="mt-3" method="post">

                <div class="header">
                    <br>
                    <h3>Crear cuenta</h3>
                    <p>Bienvenido</p>

                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="sep"></div>

                    <div class="inputs">
                        @Html.EditorFor(model => model.Tutor.NombreT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre", @autofocus_autocomplete = "off", @type = "text" } })

                        @Html.EditorFor(model => model.Tutor.Alumno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre del hijo(a)", @autofocus_autocomplete = "off", @type = "text" } })

                        @Html.EditorFor(model => model.Tutor.IdE, new { htmlAttributes = new { @class = "form-control", @placeholder = "codigo de la escuela a la que perteneces", @autofocus_autocomplete = "off", @type = "text" } })

                        @Html.EditorFor(model => model.Usuario.Usuario, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail", @autofocus_autocomplete = "off", @type = "email" } })

                        @Html.EditorFor(model => model.Usuario.Contraseña, new { htmlAttributes = new { @class = "form-control", @placeholder = "password", @autofocus_autocomplete = "off", @type = "password" } })

                        <div class="checkboxy">
                            <input name="cecky" id="checky" value="1" type="checkbox" autocomplete="off" /><label class="terms">Acepto los terminos de uso</label>
                        </div>

                        <button id="submit" class="btn btn-success btn-block" type="submit">Registrar</button>
                        <a target="_blank" type="button" class="btn btn-primary  btn-block" href="https://localhost:44374/Escuela/BuscarCodigo">
                            Buscar Codigo de escuela
                        </a>

                    </div>
                }

            </form>
        </div>
     

        <div class="col-md-4">
            <br />
        </div>
    </div>

</div>
<div class="col-md-12">
    <br />
</div>
<div class="col-md-12">
    <br />
</div>